.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 75px;
  z-index: 300;
  padding-top: 5px;
}

.sidebar-link {
  background-color: white;
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color:rgb(240, 240, 240)
}

.sidebar-link:hover {
  background-color: rgba(231, 231, 231, 0.9);
}

.sidebar-link img {
  height: 25px;
  margin-bottom: 4px;
}

.sidebar-link div {
  font-size: 10px;
}
